
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">  
        <title>Product Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
        <style>
        

         th, td {
         padding: 15px;
         }
         table {
         width: 100%;
         }

         
        </style>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
         <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>

                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">HOME</a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">PRODUCTS</a>
                      </li>
                     
                      <li class="nav-item">
                        
                        <button type="button" class="btn btn-primary"><a href="{% url 'cart' %}" style="color: white; text-decoration: none;">CART</a></button>
                      </li>
                      
                      
                    </ul>
                    
                     
                  </div>
                  
                </div>
               
              </nav>
              
        </section>
   
    <section id="banner">
      
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="promo-title"><b>Product Details</b></p>  
                </div>
            </div>
        </div>
        <img src="{% static 'img/pngkey.com-wave-shape-png-5161226.png' %}" class="bottom2-img">
    </section>
    <section id="PRODUCTS">
        <div class="container text-center">
            <div class="row text-center">
                <div class="col-md-4 PRODUCTS">


                <table >
                <tr>
                <th>PRODUCT</th>
                <th>DESCRIPTION</th>
            </tr> 
             <tr>
             <td> <img src="{{object.image.url}}" class="product1">
                    </td>
            <td><span class="shop-item-title"><h4><b>{{object.title}}</b></h4></span>
            <p>{{object.description}}</br></p>

                    <span class="shop-item-price" >Price: ${{object.price}}</span><br><br>
                    <a href="{{object.get_add_to_cart_url}}" class="btn btn-primary shop-item-button" type="submit">ADD TO CART</a><br></br>
                    <a href="{{object.get_remove_from_cart_url}}" class="btn btn-primary shop-item-button" type="submit">REMOVE FROM CART</a></td>
    
            </tr>
            </table>
                    
                </div>
            </div>
        </div>
    </section>
    

    <center>
        <section id="footer">
           
        
        <div class="footer">
            Our products are targeted towards females but we do not support any kind of gender bias and believe that jewellery can be worn by all genders!
        </div>
        </section>
        </center>

    </body>
</html>

